<div
  class="row mx-2 justify-content-center message"
  data-user-id="<%= message.user_id %>"
  data-user-role="<%= message.user.role %>"
  data-pet-photo-url="<%= message.chat.pet.photo.attached? ? url_for(message.chat.pet.photo) : "" %>">
  <div class="col-2 avatar-col">
    <img class="avatar-chat" />
  </div>
  <div class="msg col-10">
    <p><%= message.contents %></p>
  </div>
</div>
